

/* horizontal scrolling */

:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

.hs:before,
.hs:after {
  content: '';
  width: 10px;
}


/* Demo styles */

/* body {
  display: grid;
  place-items: center;
  background: #456173;
} */

div {
  /* list-style: none; */
  padding: 0;
}


.app {
  /* width: 375px;
  height: 667px; */
  /* background: #DBD0BC; */
  overflow-y: scroll;
}

.hs > div,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}



.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}




/* .hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
} */








#first, #second, #third, #forth, #fifth, #sixth, #first:hover, #second:hover, #third:hover, #fourth:hover, #fifth:hover, #sixth:hover, #seventh:hover{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	-moz-transition: all 0.1s;
}

#first:hover {
	background: #EDB059;
}
#first:hover #second:hover, #third:hover,#fourth:hover, #fifth:hover, #sixth:hover, #seventh:hover h2 {
	color: rgba(0, 0, 0);
  	color: #fff;
}
#first:hover, #second:hover, #third:hover,#fourth:hover, #fifth:hover, #sixth:hover,#seventh:hover h4 {
	color: #fff;
}
#first:hover h2::after {
	background-color: rgba(0, 0, 0, 0.5);
}

#second:hover {
	background: #289E57;
}

#third:hover {
	background: #FEC41A;
}


#fourth:hover {
	background: #E24747;
}

#fifth:hover {
	background: #4EBFD8;
}

#sixth:hover {
	background: #D094C0;
}

#seventh:hover {
	background: #EF8E9B;
}

.logo {
  font-size:50px;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  transition: all 800ms ease-in-out;
}
.logo:hover {
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  transform: rotate(360deg);
}

/* Content */
.content {
  /* padding: 20px; */
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centervert {
  padding: 150px 0;
}

.team-wrapper{
  padding:20px;
}

body{
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: relative;
}

html,body {
    height: 100%;
    /* overflow-x: hidden; */
}

h1,h2,h3,h4 {
    font-weight: bold;
}

.contactform{
    font-size: 30px;
    padding-bottom: 0px;
    /*    color: white;*/
}

.heading {
    font-size: 30px;
    padding-bottom: 60px;
    /*    color: white;*/
}
.subheading {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 60px;
}
.bold {
    font-weight: bold;
}

p {
    letter-spacing: 0px;
    line-height: 28px;
}

#about,
#team, #contact {
    padding-top: 100px;
    padding-bottom:80px;
}

#about .fa {
    font-size: 28px;
    min-width: 34px;
}

/* start navigation */
.custom-navbar {
    background: #fff;
    margin-bottom: 0;

}
.custom-navbar .navbar-brand  {
    color: #303030;
    font-size: 30px;


}
.custom-navbar .navbar-brand .navbar-toggle {
    background: #55acee;
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}
.custom-navbar .nav li a {
    color: #505050;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 4px;
    padding-right: 20px;
    padding-left: 20px;
    transition: all 0.3s ease-in-out;
}
.custom-navbar .nav li a:hover {
    /* background: #FF8C5F; */
    color: #E87F56;
    transition: all 0.3s ease-in-out;

}
.custom-navbar .nav > li > a:focus {
    background-color: transparent;
    outline: none;
}
.custom-navbar .nav li.active > a {
    color: #E87F56;
    font-weight: bold;

}
.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}
.custom-navbar .navbar-toggle .icon-bar {
    background: #FF8C5F;
    border-color: transparent;
}

.activeState {
    background: #FF8C5F;
}

@media(min-width:768px){
    .custom-navbar {
        background:#fff;
        padding: 14px;
        border-bottom: 0;
        background: 0 0;
          background-color: #fff;
    }
    .custom-navbar.top-nav-collapse {
        padding: 14px;
        background:#fff;
        border-bottom: 1px solid #eeeeee;
    }


}

/* home section */
#home {
    background: url('../images/landingpage.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    /* align-items: center; */
    height: 100vh;
    /* text-align: center; */
}


.selected-work {
  text-align: center;
  font-family: 'Amiko', sans-serif;
  font-size: 15px;
}

.selected-work-text {
  font-family: 'Amiko', sans-serif;
  font-size: 30px;
  color: #cecece;
  letter-spacing: 0.2em;
  padding-top: 100px;
}



/*Arrow*/
/* i {
  border: solid #cecece;
  border-width: 0 1.25px 1.25px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */
/*--------*/

#home hr {
    border: 2px solid #404040;
    width: 100px;
}
#home h3 {
    letter-spacing: 2px;
}
#home .btn {
    background: transparent;
    border-radius: 0;
    border: 3px solid #404040;
    color: #404040;
    font-weight: bold;
    padding: 16px 42px;
    margin-top: 40px;
    transition: all 0.4s ease-in-out;
}
#home .btn:hover {
    background: #404040;
    color: #ffffff;
}



/* about section */
#about .col-md-4 .fa {
    background: #FFD321;
    border-radius: 50%;
    color: #ffffff;
    font-size: 32px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 10px;
}
#about .col-md-6 {
    padding-top: 60px;
}
#about .col-md-6 h3 {
    padding-top: 40px;
    padding-bottom: 10px;
}
#about .col-md-6 p {
    padding-bottom: 30px;
}
#about span {
    display: block;
/*    padding-bottom: 6px;*/
}
#about .progress {
    border-radius: 0;
    box-shadow: none;
    height: 6px;
}
#about .progress .progress-bar-primary {
    background: #FFD321;
}

/* portfolio section */
#work {
    padding-top: 100px;
    background: #f9f9f9;
    text-align: center;
}
#work .container {
    width: 100%;
    padding: 0;
    margin: 0;
}
#work .col-md-4 {
    padding: 0;
    margin: 0;
}
#work img {
    width: 100%;
    transition: all 0.4s ease-in-out;
}
#work img:hover {
    /* opacity: 0.6; */
}
/* FILTER CSS */
.filter-wrapper {
    width: 100%;
    margin: 40px 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    color: #999999;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.filter-wrapper li .selected,
.filter-wrapper li a:focus,
.filter-wrapper li a:hover {
    /* background: #FFD321; */
    color: #ffffff;
    /* outline: none; */

    background: #FF8C5F;

}

/* ISOTOPE BOX CSS */

.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
    width: 100%;
    display: block;
}


/*Milestone*/

.milestone-module{


}

#about .project-each h2{
    font-size: 30px;
    color: #FFD321;
}



#about .project-each{
    margin-top: 60px;
}

#about .proj-img img{
    margin: 10px;
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#about .proj-img h4{
   font-size: 12px;
    color: #696969;
    font-weight: 100;
    font-style: italic;
    text-align: center;
}

/*selectedprojects*/

#selectedprojects {
    text-align: center;
}
#selectedprojects h3 {
    color: #202020;
    line-height: 4px;
}
#selectedprojects .selectedprojects-des {
    padding-top: 20px;
    padding-bottom: 40px;
}


/* team section */
.hobbies{
    text-align: center;
    padding-top: 20px;
}
#about h3 {
    color: #202020;
    line-height: 4px;
}
#about .team-des {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* contact section */
#contact {
    background: #f9f9f9;
    text-align: center;
}
#contact .fa {
    font-size: 40px;
}
#contact form {
    padding-top: 0px;
}
#contact .form-control {
    border-radius: 0;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
}
#contact .form-control:focus {
    border: 2px solid #808080;
}
#contact input {
    height: 50px;
}
#contact input[type="submit"] {
    border: 2px solid #808080;
    margin-top: 18px;
    height: 54px;
}
#contact input[type="submit"]:hover {
    background: #808080;
    color: #ffffff;
}
#contact textarea {
    height: 170px;
}
.contact-info-box h3 { font-size: 16px; }

/* footer section */
footer {
    /* background: url('../images/footer-bg.jpg') no-repeat; */
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.social-icon {
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.social-icon li {
    list-style: none;
    display: inline-block;
    padding: 0;
}
.social-icon li a {
    border-radius: 50%;
    color: #303030;
    font-size: 32px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    margin-top: 20px;
    margin-right: 10px;
}
.social-icon li a:hover {
    background: #F79F7C;
}



#lexmark {
background: url('../images/lexmarkpage.png') no-repeat;
-webkit-background-size: cover;
background-size: cover;

background-position: center;
background-color: #fff;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
height: 100vh;
text-align: center;
  }

#vegout {
  background: url('../images/vegoutpage.png') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#michiganmed {
  background: url('../images/michiganmedicinelanding.png') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

      #cnbc {
      background: url('../images/cnbclanding.png') no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      background-color: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100vh;
      text-align: center;
        }

        #veggarden {
        background: url('../images/veggardenpage.png') no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        background-color: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100vh;
        text-align: center;
          }

      #google {
      background: url('../images/googlepage.png') no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      background-color: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100vh;
      text-align: center;
        }
  #comerica {
    background: url('../images/comericapage.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    text-align: center;
      }

@media screen and (min-width: 992px) {
    @-moz-document url-prefix() {
        #portfolio .col-lg-4,
        #portfolio .col-md-4 {
            width: 33.333%;
        }
    }

}

@media ( max-width: 980px ) {
    .custom-navbar .navbar-brand {
        font-size: 24px;

    }
    #about img {
        padding-top: 40px;
    }
    #contact form {
        padding-top: 30px;
    }


}

@media screen and (max-width: 767px) {
    .contact-info-box { margin-bottom: 20px; }
    .contact-info-box:last-child { margin-bottom: 0; }


}

@media (max-width: 450px) {
    .heading {
        font-size: 40px;
    }
    #about .col-md-4 .fa {
        margin-top: 32px;
    }
    #contact h3 {
        font-size: 16px;
        padding-bottom: 40px;
    }
}
