#introduction{
    height:80vh;
    width: 100%;

    /* background: url('../images/header.jpg') no-repeat center center; */
    /* background: url(../images/landingpage.png) no-repeat center center fixed; */

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}


#introduction {
padding-top: 7em;
position: relative;
/* max-width: 1000px; */
margin: 0 auto;

}

.selected-work{
  padding-top: 11em;
  /* position: relative; */
  /* max-width: 1000px; */

}


/* start navigation */
.custom-navbar {
    background-color: #fff;
    padding-top: 40px;
    margin-left:5em;
    margin-right:5em;
}

.navbar-brand, .navbar-brand:hover  {
  color: #2E3542;
font-family: 'Montserrat', sans-serif;


	/* font-family: 'Do Hyeon', sans-serif; */
		/* font-weight: 500; */
		font-style: normal;
		font-size: 17px;
    letter-spacing: .01em;
    font-weight:bold;
		text-rendering: optimizeLegibility;
		transition: all 0.3s ease-in-out;
}


.custom-navbar .nav li a {
		color: 	#C0C0C0;
font-family: 'Montserrat', sans-serif;
		/* font-weight: 500; */
		font-style: normal;
		font-size: 16px;
		letter-spacing: .01em;
		text-rendering: optimizeLegibility;
}
.custom-navbar .nav li a:hover {
    /* background: #FF8C5F; */
    color: #F15C48;
    transition: all 0.3s ease-in-out;
}

.custom-navbar .nav > li > a:focus {
    background-color: transparent;
    outline: none;
}

.custom-navbar .nav li.active > a {
    color: #F15C48;
    font-weight: bold;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #303030;
    border-color: transparent;
}

#content a{
  color: #262626;
  text-decoration: none;
}

a:hover{
color: #2E3542;

}

@media(min-width:768px){
    .custom-navbar {
        background:#fff;
        border-bottom: 0;
        background: 0 0;
          background-color: #fff;
    }
    .custom-navbar.top-nav-collapse {
        background:#fff;
        border-bottom: 1px solid #eeeeee;
    }


}






#aboutphotos {
padding-top: 50px;
position: relative;
max-width: 1000px;
margin: 0 auto;

}

#aboutphotos img{
  padding:.3em;
}

#about {
padding-top: 20px;
position: relative;
max-width: 950px;
margin: 0 auto;

}

h2{
  font-family: 'Montserrat', sans-serif;
  		font-style: normal;
  		font-size: 17px;
      letter-spacing: .01em;
      font-weight:bold;
  		text-rendering: optimizeLegibility;
  		transition: all 0.3s ease-in-out;
}


/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .2s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.05);
}


.project{
  margin-bottom: 20px;

}



.button {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    height: 38px;
    padding: 0 20px;
    color: #454549;
    text-align: center;
    font-size: 10px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    /* white-space: nowrap; */
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #454549;
    cursor: pointer;
    box-sizing: border-box;
}


p{
 font-size: 15px;
 font-family: 'Open Sans', serif;
 letter-spacing: .02em;
 font-style: normal;
 font-weight: normal;
 color: #2E3542;
 /* line-height: 32px; */
}

h1{
font-size: 35px;
font-family: 'Assistant', sans-serif;
font-weight: 700;
font-style: normal;
color: #2E3542;
line-height:1.3em;
/* letter-spacing: -.01em; */
}


h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  color: #2E3542;
  letter-spacing: .0em;
  }

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: .05em;
  color: #2E3542;
}

/* footer section */
hr{
  border: .5px solid #7A7A7A;
}

.custom-end{
  color: #6b6b6f;
  text-align: right;
  margin-top: 50px;
}


.contact-links {
  margin-right: 50px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #F4695E;
  text-decoration: none;
  display:inline-block;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight:bold;
  font-size: 16px;
  letter-spacing: .01em;
  text-rendering: optimizeLegibility;
}







/* responsiveness */
@media screen and (min-width: 992px) {

}

@media ( max-width: 980px ) {
}

@media screen and (max-width: 767px) {
  #index-description{
    width:65%;
  }
  .project {
    padding-top: 60px;
    padding-bottom: 100px;
    position: relative;
    max-width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
    /* .heading {
        font-size: 40px;
    }
		#about .col-md-6 h3 {
		  	font-size: 15px;
		}
		#about .col-md-6 p {
		    	font-size: 13px;
		}


    #about .col-md-4 .fa {
        margin-top: 32px;
    }
    #contact h3 {
        font-size: 16px;
        padding-bottom: 40px;
    } */


}
